* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
button{
    padding: 10px;
    border-radius: 10px;
    border: 3px rgb(18, 15, 204) solid;
    background-color: rgb(36, 18, 197);
    color: rgb(255, 255, 255);

}
button:hover{
    background-color: blue;
    cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  transition: all 0.3s;
}

a:hover {
  color: #47d6b9;
}


footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
  font-size: 0.9rem;
}

main{
  padding: 30px;
  height: 594px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

main div{
  margin-top: 20px;
  background-color: #2c4866;
  border-radius: 15px;
  padding: 5vh;
  color: rgb(223, 223, 223);
}


