* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #16a085;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: #13856b;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f3f3;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: #181818;
  margin: 0 10px;
  transition: all 0.3s;
}

a:hover {
  color: #53d8bd;
}


footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;

}

footer a {
  color: white;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode #TrocarIdioma {
  background-color: #000000;
  color: #c71d72;
}

#TrocarIdioma {
  top: 29px;
  right: 20px;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #70baff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
}


#modoescuro {
  background-color: #3a99f1;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#modoescuro:hover {
  background-color: #45bdec;
}

body.dark-mode #modoescuro {
  background-color: #770b34;
}

body.dark-mode #modoescuro:hover {
  background-color: #ac142d;
}


main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main div {
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  padding: 5vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #111;
  color: #f0f0f0;
}

body.dark-mode a {
  color: white;
}

body.dark-mode main div {
  background-color: #070707b2;
  color: #f0f0f0;
}